block footer
footer.footer.mt-auto
  .container
    p.footertitle Fot © Pierres bootstrap
    a(class="footer-links" href="/") Go to homepage
    a(class="footer-links footer-last-link" href="/boot") Go to bootstrap
    br
