extends layout

include mixins/carousel.pug
include mixins/cards.pug
include mixins/toast.pug

block content
  div.container#main
  - var hello = 'you!'
  h1= thetitle
  p.welcome Welcome to #{thetitle}, #{hello.toUpperCase()}
  small.text-muted#fadedundertitle With faded secondary text
  br
  .spinner-border.text-primary(role='status')
  span.sr-only Loading...
  br
  br
  a.btn.btn-primary.btn-lg(class="btn" onclick='showAlert()', role='button') Learn more
  br
  br
  .toast(role='alert', aria-live='assertive', aria-atomic='true')
  +toast("Detta är Toast titeln", "57 hours ago", "Detta är toast body", "Detta är toast content", "Popover btn 1")
  +toast("Detta är en annan Toast titel", "43 months ago", "Detta är annan Toast body", "Detta är annan Toast content", "Popover btn 2")

  #carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel')
    .carousel-inner
      +carousel-item('images/katt.jpg', '...')(class='active')
      +carousel-item('https://picsum.photos/800/401', '...')
      +carousel-item('https://picsum.photos/800/402', '...')

    a.carousel-control-prev(href='#carouselExampleFade', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleFade', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next

  .container.mt-5
    .card-deck
      +card('images/katt.jpg', '...', 'Amazing mixins', '3 mins')
        p.card-text
          | This is a wider card with supporting text below as a natural lead-in to additional
          | content.
          | This content is a little bit longer.
        p.card-text
          | This is a wider card with supporting text below as a natural lead-in to additional
          | content.
          | This content is a little bit longer.

      +card('images/katt.jpg', '...', 'Amazing mixins', '5 mins')
        p.card-text
          | This is a wider card with supporting text below as a natural lead-in to additional
          | content.
          | This content is a little bit longer.

      +card('images/katt.jpg', '...', 'Amazing mixins', '23 mins')
        p.card-text
          | This is a wider card with supporting text below as a natural lead-in to additional
          | content.
          | This content is a little bit longer.


